<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5433/bdInterdisciplinar</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">123456</property>
    <mapping class="model.cargos"/>
    <mapping class="model.custos_fixos"/>
    <mapping class="model.custos_variaveis"/>
    <mapping class="model.maquinas"/>
    <mapping class="model.materia_prima"/>
    <mapping class="model.pessoas"/>
    <mapping class="model.produto"/>
    <mapping class="model.cidades"/>
    <mapping class="model.salarios"/>
    <mapping class="model.materiaprima_produtos"/>
    <mapping class="model.maquinas_produtos"/>
    <mapping class="model.sal_produto"/>
  </session-factory>
</hibernate-configuration>
